version: '3'

services:
  timescaledb:
    image: timescale/timescaledb:latest-pg17
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: timescale
      POSTGRES_USER: timescale
      POSTGRESS_PASSWORD: timescale
    volumes:
      - ./data:/var/lib/postgresql/data